{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <title>Качество воздуха</title>
    <link rel="stylesheet" href="{% static 'weatherapp/css/airquality.css' %}" type="text/css" />
    <link rel="website icon" href="../../static/weatherapp/img/favicon-32x32.png">
    <script language="JavaScript">
          function myFunction1() {
                document.getElementById("myDropdown1").classList.toggle("show");
          }

          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
          function myFunction2() {
                document.getElementById("myDropdown2").classList.toggle("show");
          }

          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }

          function myFunction3() {
                document.getElementById("myDropdown3").classList.toggle("show");
          }

          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }

          function myFunction4() {
                document.getElementById("myDropdown4").classList.toggle("show");
          }

          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
          function myFunction5() {
                document.getElementById("myDropdown5").classList.toggle("show");
          }

          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
    </script>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    <div class="wrapper">
        <div class="content">
            <form method="POST"> {% csrf_token %}
          <p>
            <input type="text" placeholder="Название города" name="city" required/>
          </p>
          <br>
          <br>
          <button id="search" type="submit">Поиск</button>
        </form>
            <div id="pm25">
            <h2>PM2.5 - Микрочастицы пыли и грязи</h2>
            <h3>
              На данный момент в городе {{ city }} концентрация PM2.5 в воздухе составляет: {{ pm25 }} мкг/м3.
              {% if pm25 <= 14 %}
                <p>Уровень концентрации микрочастиц в норме. Риск для здоровья отсутствует.</p>
              {% elif 12 <= pm25 < 35 %}
                <p>Уровень концентрации микрочастиц немного повышен. Людям, чувствительным к респираторным заболеваниям, следует
                  повременить с активностью на улице.</p>
              {% elif 35 <= pm25 < 55  %}
                <p>
                  Уровень концентрации микрочастиц выше нормы. У чувствительных людей может возникнуть раздражение легких а также
                  проблемы с дыханием.
                </p>
              {% elif 55 <= pm25 < 150 %}
                <p>
                  Уровень концентрации микрочастиц превышает норму в 10 раз. Повышается вероятность обострения заболеваний
                  сердца и легких среди населения в целом.
                </p>
              {% elif 150 <= pm25 < 250 %}
                <p>
                  Уровень концентрации микрочастиц сильно повышен. Большинство людей будут испытывать проблемы с дыханием.
                  Рекомендуется носить маски на улице. Чувствительным людям следует оставаться дома.
                </p>
              {% else %}
                <p>
                  Уровень концентрации микрочастиц крайне опасен. Всему населению следует оставаться дома во избежание серьезных
                  проблем со здоровьем.
                </p>
              {% endif %}
            </h3>
        <div class="dropdown">
          <button onclick="myFunction1()" class="dropbtn">Подробнее</button>
            <div id="myDropdown1" class="dropdown-content">
                <p>Это воздушный загрязнитель, в состав которого входят как твердые микрочастицы, так и мельчайшие капельки жидкостей. И те, и другие размером примерно от 10 нм до 2,5 мкм.
          Массовая концентрация РМ2.5 является ключевым параметром для оценки качества воздуха и его угрозы для здоровья человека.</p>
            </div>
        </div>
    </div>
            <div id="no2">
            <h2>NO2 - диоксид азота</h2>
            <h3>
              На данный момент в городе {{ city }} концентрация диоксида азота составляет: {{ no2 }} мкг/м3.
              {% if no2 < 80 %}
                  <p>Уровень концентрации NO2 в норме</p>
              {% else %}
                  <p>Уровень концентрации NO2 превышает допустимый. При длительном воздействии возможны
              осложнения дыхательных процессов.</p>
              {% endif %}
            </h3>
            <div class="dropdown">
              <button onclick="myFunction2()" class="dropbtn">Подробнее</button>
                <div id="myDropdown2" class="dropdown-content">
                    <p>NO2 — высокотоксичное вещество, оказывающее негативное воздействие на человека. В основном подвергаются опасности органы дыхательной системы, начиная от легкого раздражения слизистых и заканчивая отеком легких.
              Также происходит изменение состава крови, уменьшается содержание гемоглобина.</p>
                </div>
        </div>

    </div>
            <div id="o3">
            <h2>Озон (O3)</h2>
                <h3>
                На данный момент в городе {{ city }} концентрация озона в воздухе составляет {{ o3 }} мкг/м3.
                {% if 0 < o3 < 60 %}
                  <p>
                    Уровень концентрации в норме, особых мер предосторожности не требуется.
                  </p>
                {% elif 60 <= o3 < 95 %}
                  <p>
                    Уровень концентрации озона в воздухе удовлетворительный.
                    Для людей с респираторными заболеваниями рекомендуется сократить время пребывания на открытом воздухе.
                  </p>
                {% elif 95 <= o3 < 115 %}
                  <p>
                    Уровень концентрации озона выше нормы, рекомендуется ограничить время длительного пребывания на открытом воздухе.
                  </p>
                {% else %}
                  <p>
                    Уровень концентрации крайне опасен, следует максимально сократить время пребывания на открытом воздухе.
                  </p>
                {% endif %}
              </h3>
              <div class="dropdown">
                    <button onclick="myFunction3()" class="dropbtn">Подробнее</button>
                    <div id="myDropdown3" class="dropdown-content">
                        <p>По параметрам острой токсичности озон относится к 1 классу опасности. При вдыхании высоких концентраций озона (9 мг/м³) и выше может появиться кашель, раздражение глаз, головная боль, головокружение и загрудинные боли.
                Возможно появление бронхоспазма и даже начальных стадий отека легких (при многочасовом воздействии высоких концентраций).</p>
        </div>
              </div>
    </div>
            <div id="co">
            <h2>CO - углекислый газ</h2>
            <h3>
                На данный момент в городе {{ city }} концентрация углекислого газа составляет: {{ co }} мкг/м3.
                {% if co < 20000 %}
                    <p>Уровень концентрации CO в норме.</p>
                {% elif co < 50000 %}
                    <p>Уровень концентрации CO немного повышен. Может возникать слабость, а при физической нагрузке ощущение нехватки воздуха.</p>
                {% elif co < 200000 %}
                    <p>Уровень концентрации CO превышает допустимый. В течение 2-3 часов появляется пульсирующая головная боль, сонливость, чувство усталости и возбуждения, тошнота.</p>
                {% elif co < 800000 %}
                    <p>Уровень концентрации CO зашкаливает. Сильная головная боль, рвота, предобморочное состояние.</p>
                {% else %}
                    <p>Смерть.</p>
                {% endif %}
            </h3>
            <div class="dropdown">
                <button onclick="myFunction4()" class="dropbtn">Подробнее</button>
                    <div id="myDropdown4" class="dropdown-content">
                        <p>Угарный газ, или окись углерода (СО) – это газ без запаха, вкуса и цвета, который образуется в результате неполного сгорания. Угарный газ является ядовитым для людей и животных.</p>
                    </div>
            </div>

    </div>
            <div id="so2">
            <h2>SO2 - диоксид серы</h2>
            <h3>
                На данный момент в городе {{ city }} концентрация диоксида серы в воздухе составляет {{ so2 }} мкг/м3.
                {% if so2 < 41 %}
                    <p>Уровень концентрации SO2 в норме.</p>
                {% elif so2 < 81 %}
                    <p>Уровень концентрации SO2 немного повышен. Могут проявляться раздражения глаз и дыхательных путей.</p>
                {% elif so2 < 381 %}
                    <p>Уровень концентрации SO2 выше нормы. Могут начаться усиливающиеся кашель и отдышка.</p>
                {% elif so2 < 800 %}
                    <p>Уровень концентрации SO2 крайне опасен для здоровья. После длительного вдыхания могут быть вызваны повреждения мозга и легких.</p>
                {% else %}
                    <p>Уровень концентрации SO2 смертелен.</p>
                {% endif %}
            </h3>
            <div class="dropdown">
                <button onclick="myFunction5()" class="dropbtn">Подробнее</button>
                    <div id="myDropdown5" class="dropdown-content">
                        <p>Двуокись серы — это газообразная форма загрязнения воздуха, состоящая из двух компонентов — серы и кислорода. Он образуется при сжигании топлива, богатого серой, такого как нефть, дизельное топливо или уголь.</p>
                    </div>
            </div>
        </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>

</body>

<!--    <div id = "aqi">-->
<!--        <h1>{{ city }}</h1><br>-->
<!--        <h1>Дата: {{ day }}</h1><br>-->
<!--        <h3>Индекс качества воздуха (AQI)</h3>-->
<!--        <p>-->
<!--          Это число, используемое правительством для информирования широкой общественности о качестве воздуха.-->
<!--          Качество воздуха ухудшается с увеличением концентрации загрязняющих веществ. Индекс качества воздуха представляет серьезность загрязнения для обычных людей.<br>-->
<!--          <h3>На данный момент индекс качества воздуха в городе {{ city }} составляет: {{ aqi }}</h3>-->

<!--          {% if 0 < aqi < 51 %}-->
<!--            <p>-->
<!--              Индекс качества сейчас в норме, так как воздух оказывает минимальное-->
<!--              влияние на здоровье или не оказывает никакого влияния на него.-->
<!--            </p>-->
<!--          {% elif 50 < aqi < 100 %}-->
<!--            <p>-->
<!--              Удовлетворительное качество воздуха, могут проявляться такие эффекты,-->
<!--              как затрудненное дыхание в чувствительных группах.-->
<!--            </p>-->
<!--          {% elif 100 <= aqi < 200 %}-->
<!--            <p>-->
<!--              Умеренное качество воздуха с такими последствиями, как дискомфорт при дыхании у детей и пожилых людей,-->
<!--              а также у людей, уже страдающих от заболеваний легких и сердца.-->
<!--            </p>-->
<!--          {% elif 200 <= aqi < 300 %}-->
<!--            <p>-->
<!--              AQI, попадающий в этот диапазон, свидетельствует о плохом качестве воздуха и о воздействии на здоровье людей при длительном воздействии.-->
<!--              Люди, уже страдающие сердечными заболеваниями, могут испытывать дискомфорт от кратковременного воздействия.-->
<!--            </p>-->
<!--          {% elif 300 <= aqi < 400 %}-->
<!--            <p>-->
<!--              Очень плохое качество воздуха и вызывает респираторные заболевания при более длительном воздействии.-->
<!--            </p>-->
<!--          {% else %}-->
<!--            <p>-->
<!--              Это серьезный диапазон AQI, вызывающий воздействие на здоровье нормальных и больных людей. Это также оказывает серьезное воздействие на здоровье уязвимых групп.-->

<!--            </p>-->
<!--        </p>-->
<!--          {% endif %}-->