{% load static %}
<!DOCTYPE html>



<html>
  <head>
    <title>Текущая погода</title>
    <link rel="website icon" href="../../static/weatherapp/img/favicon-32x32.png">
    <link rel="stylesheet" href="{% static 'weatherapp/css/index.css' %}" type="text/css" />
  </head>

  <body>
    {% include 'includes/navbar.html' %}
    <div class="wrapper">
        <div class="content">
            <div class="forma">
                <form method="POST" class="main"> {% csrf_token %}
                    <p>
                    <input type="text" placeholder="Название города" name="city" required/>
                    </p><br><br>
                    <button id="search" class="blubtn" type="submit">Поиск</button>
                </form>
            </div>
            <div id="main">
                <h1>{{ city }}</h1>
                <h1>Дата: {{ day }}</h1>
                <h1><img src="{{ icon }}" width="70px" />{{ description }}</h1>
                <h1>Температура: {{ temp }}</h1>
                <h1>Давление: {{ pressure }} мм рт. ст.</h1>
                <h1>Влажность: {{ humidity }} %</h1>
                <h1>Скорость ветра: {{ wind }} м/с</h1>
                <h1>Порывы ветра до {{ gust }} м/с</h1>
                <h1>Восход {{ sunrise }}</h1>
                <h1>Закат {{ sunset }}</h1>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>

  </body>
</html>