<footer>
    <hr>
    <div class="foot">
        <div class="links-section">
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Пользовательские соглашения</a>
            <a href="https://www.weatherapi.com/">API</a>
            <a href="https://www.pranaair.com/ru/">Качество воздуха</a>
            <a href="https://www.djangoproject.com/">Документация Django</a>
            <a href="https://www.w3schools.com/">Обучение html и css</a>
            <span>&copy;2023</span>
        </div>
    </div>
</footer>